html {
  scroll-behavior: smooth;
}

body {
  width: 99vw;
  background-color: #faf7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf7f7;
  border-bottom: 0.01rem solid rgba(154, 118, 145, 0.0941176471);
}
@media (max-width: 1120px) {
  header {
    height: 80px;
  }
}
header .content {
  position: absolute;
  margin: 0 auto;
  width: 1120px;
  display: flex;
  justify-content: left;
  align-items: center;
}
@media (max-width: 1120px) {
  header .content {
    width: 90%;
    padding: 0 10px;
  }
}
header .content .logo {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  color: #0a0609;
  text-decoration: none;
  margin-right: 32px;
}
header .content nav {
  position: absolute;
  right: 0;
}
@media (max-width: 1120px) {
  header .content nav {
    display: none;
  }
}
header .content nav a {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #0a0609;
  margin: 0 10px;
}
header .content nav a:hover {
  color: #9f0077;
  font-size: 1.3rem;
  transition: 0.3s;
}
header .content .btn {
  background-color: #faf7f7;
  border: 0.01rem solid #0a0609;
  border-radius: 45px;
  padding: 15px 20px;
}
header .content .btn a {
  color: #0a0609;
}
header .content .btn:hover {
  background-color: #0a0609;
  color: #faf7f7;
  font-size: 1.2rem;
  transition: 0.3s;
}

#menuBtn {
  width: 32px;
  height: 32px;
  display: none;
}
@media (max-width: 1120px) {
  #menuBtn {
    display: block;
    margin-left: auto;
  }
}
#menuBtn:hover {
  cursor: pointer;
}

.btn {
  background-color: #0a0609;
  color: #faf7f7;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 16px;
  min-width: 150px;
  text-align: center;
}

#mailBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  text-align: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #0a0609;
  opacity: 75%;
}
#mailBtn span {
  font-size: 40px;
  margin-top: 20px;
  color: #faf7f7;
}
#mailBtn:hover {
  opacity: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  text-align: center;
  font-size: 1.1rem;
}

h3 {
  text-align: center;
  font-size: 1.43rem;
}

h2 {
  text-align: center;
  font-size: 1.573rem;
}

h1 {
  text-align: center;
  font-size: 3.146rem;
  margin: 0rem 0rem 2rem;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 40px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gowun Dodum", sans-serif;
}
section .content {
  width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1120px) {
  section .content {
    width: 100%;
  }
}
section h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

#home {
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 120px 0 30px 0;
  background: radial-gradient(circle at top left, rgb(11, 11, 11), rgba(255, 255, 255, 0)), radial-gradient(circle at top right, rgb(17, 17, 17), rgba(255, 255, 255, 0)), radial-gradient(circle at bottom right, rgb(10, 10, 10), rgba(255, 255, 255, 0)), radial-gradient(circle at bottom left, rgb(14, 14, 14), rgba(255, 255, 255, 0)), url("../../imgs/texture.png");
  color: #faf7f7;
}
#home h1, #home h2, #home h3 {
  display: flex;
  font-weight: normal;
  text-align: center;
}
#home h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 0;
}
#home h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
}
#home .city {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .city span {
  margin-right: 5px;
}
#home .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
#home .socials {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .socials svg {
  width: 24px;
  height: 24px;
  margin: 16px;
  color: #faf7f7;
}
#home .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

#projects .content {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  #projects .content {
    flex-direction: column;
  }
}
#projects .content .projectCard {
  width: 300px;
  background-color: rgba(154, 118, 145, 0.0941176471);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}
#projects .content .projectCard p {
  text-wrap-mode: wrap;
}
#projects .content .projectCard a img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

#contact {
  background-color: rgba(154, 118, 145, 0.0941176471);
}
#contact .btn {
  padding: 20px 30px;
  border-radius: 45px;
}

footer {
  width: 100%;
  background-color: #0a0609;
  color: #faf7f7;
  justify-content: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
footer .content {
  margin: 0 auto;
  width: 1120px;
  justify-content: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1120px) {
  footer .content {
    width: 100%;
  }
}
footer .content div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .content a {
  color: #faf7f7;
  margin: 10px;
}
footer .content a svg {
  width: 20px;
  height: 20px;
}
footer .content p {
  text-align: center;
}

#responsiveNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: none;
  background-color: #0a0609;
  opacity: 98%;
  width: 100vw;
  height: 100vh;
}
#responsiveNav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
#responsiveNav div a {
  font-family: "Gowun Dodum", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  color: #faf7f7;
  margin: 1rem;
}
#responsiveNav div #closeBtn {
  width: 2rem;
  height: 2rem;
  color: #faf7f7;
}
#responsiveNav div #closeBtn:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */