html {
  scroll-behavior: smooth;
}

body {
  width: 99vw;
  background-color: #faf7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf7f7;
  border-bottom: 0.01rem solid rgba(0, 0, 0, 0.284);
}
header .content {
  position: absolute;
  margin: 0 auto;
  width: 1120px;
  display: flex;
  justify-content: left;
  align-items: center;
}
@media (max-width: 1120px) {
  header .content {
    width: 90%;
    padding: 0 10px;
  }
}
header .content .logo {
  font-family: "Poppins", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  color: #090505;
  text-decoration: none;
  margin-right: 32px;
}
header .content nav {
  position: absolute;
  right: 0;
}
@media (max-width: 1120px) {
  header .content nav {
    display: none;
  }
}
header .content nav a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #090505;
  margin: 0 10px;
}
header .content nav a:hover {
  color: hsl(350, 100%, 50%);
  font-size: 1.3rem;
  transition: 0.3s;
}
header .content .btn {
  background-color: #faf7f7;
  border: 0.01rem solid #090505;
  border-radius: 45px;
  padding: 15px 20px;
}
header .content .btn a {
  color: #090505;
}
header .content .btn:hover {
  background-color: #090505;
  color: #faf7f7;
  font-size: 1.2rem;
  transition: 0.3s;
}

#menuBtn {
  display: none;
}
@media (max-width: 1120px) {
  #menuBtn {
    display: block;
    margin-left: auto;
  }
}
#menuBtn:hover {
  cursor: pointer;
}

.btn {
  background-color: #090505;
  color: #faf7f7;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 16px;
  min-width: 150px;
  text-align: center;
}

#mailBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  text-align: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #090505;
  opacity: 75%;
}
#mailBtn span {
  font-size: 40px;
  margin-top: 20px;
  color: #faf7f7;
}
#mailBtn:hover {
  opacity: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 40px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
section .content {
  width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1120px) {
  section .content {
    width: 100%;
  }
}
section h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

#home {
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 100px 0 10px 0;
  background: radial-gradient(circle at top left, rgb(36, 13, 13), rgba(255, 255, 255, 0)), radial-gradient(circle at top right, rgb(23, 16, 35), rgba(255, 255, 255, 0)), radial-gradient(circle at bottom right, rgb(29, 14, 26), rgba(255, 255, 255, 0)), radial-gradient(circle at bottom left, rgb(32, 25, 37), rgba(255, 255, 255, 0)), url("../../imgs/texture.png");
  color: #faf7f7;
}
#home h1, #home h2, #home h3 {
  display: flex;
  font-weight: normal;
  text-align: center;
}
#home h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 1rem 0;
}
#home h2 {
  font-weight: 400;
  font-size: 1.2rem;
}
#home .city {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .city span {
  margin-right: 5px;
}
#home .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
#home .socials {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .socials svg {
  width: 24px;
  height: 24px;
  margin: 16px;
  color: #faf7f7;
}
#home .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

#skills .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20%;
}
@media (max-width: 800px) {
  #skills .content {
    padding: 0;
  }
}
#skills .content img {
  margin: 1rem;
  height: 80px;
  width: auto;
}

#projects .content {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  #projects .content {
    flex-direction: column;
  }
}
#projects .content .projectCard {
  width: 400px;
  background-color: rgba(93, 18, 131, 0.12);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}
#projects .content .projectCard p {
  text-wrap-mode: wrap;
}
#projects .content .projectCard a img {
  width: 400px;
  height: 400px;
  border-radius: 15px;
}

footer {
  width: 100%;
  background-color: #090505;
  color: white;
  justify-content: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
footer .content {
  margin: 0 auto;
  width: 1120px;
  justify-content: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1120px) {
  footer .content {
    width: 100%;
  }
}
footer .content div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .content a {
  color: white;
  margin: 10px;
}
footer .content a svg {
  width: 20px;
  height: 20px;
}
footer .content p {
  text-align: center;
}/*# sourceMappingURL=main.css.map */