$primary-color: #0b0b0b;
$secondary-color: #fff;
$accent-color: hsl(350, 100%, 50%);
$accent-color-transparent: hsla(350, 100%, 50%, 0.475);
$darker-accent-color: hsl(348, 100%, 7%);
$darker-accent-color-transparent: hsla(350, 100%, 10%, 0.478);

$glow-effect-small: 3px 3px 20px black;
$glow-effect-big: 5px 5px 60px rgba(0, 0, 0, 0.61);