header {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10%;
    background-color: $primary-color;
    font-size: 1.5rem;
    box-shadow: $glow-effect-big;

    #menuBtn {
        display: none;
        @media (max-width: 1000px) {
            display: block;
            margin-left: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }

    .logo {
        display: block;
        width: 200px;
        font-size: 2rem;
        font-weight: bolder;
        color: $accent-color;
        margin-right: auto;
        @media (max-width: 1000px) {
            margin-right: 0;
            width: 100px;
        }
    }

    nav {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1000px) {
            display: none;
        }
        a {
            margin: 25px;
            font-weight: bold;
            &:hover {
                color: $accent-color;
                transform: scale(1.5);
                transition: 0.3s;
            }
        }
    }

    div {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        @media (max-width: 1000px) {
            margin-left: 0;
        }
        p {
            margin-left: 5px;
        }
        span {
            color: $accent-color;
        }
    }

}