header {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10%;
    background-color: $primary-color;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid $accent-color-transparent;

    .logo {
        display: block;
        width: 200px;
        font-size: 2rem;
        font-weight: bolder;
        color: $accent-color;
        margin-right: auto;
    }

    nav {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            margin: 25px;
            font-weight: bold;
            &:hover {
                color: $accent-color;
                transform: scale(1.5);
                transition: 0.5s;
            }
        }
    }

    div {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        p {
            margin-left: 5px;
        }
        span {
            color: $accent-color;
        }
    }

}