#responsiveNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
    background-color: $secondary-color;
    opacity: 98%;
    width: 100vw;
    height: 100vh;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        a {
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 300;
            color: $primary-color;
            margin: 1rem;
        }

        #closeBtn {
            width: 2rem;
            height: 2rem;
            color: $primary-color;
            &:hover {
                cursor: pointer;
            }
        }
    }
}