section {
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.01rem solid $accent-color;
    background: linear-gradient(
        45deg,
        $darker-accent-color,
        $primary-color
    );
}