section {
    width: 99vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
    background: linear-gradient(
        45deg,
        $darker-accent-color,
        $primary-color
    );
    h1 {
        text-transform: uppercase; 
        letter-spacing: 0.3rem;
    }
}