section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    .content {
        width: 12*75px + 11*20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-size: 2rem;
        text-transform: uppercase; 
        letter-spacing: 0.3rem;
        margin-bottom: 4rem;
    }
}