#home {

    min-height: 70vh;
    padding: 120px 0 30px 0;

    background: 
        radial-gradient(circle at top left, rgb(11, 11, 11), rgba(255, 255, 255, 0)),
        radial-gradient(circle at top right, rgb(17, 17, 17), rgba(255, 255, 255, 0)),
        radial-gradient(circle at bottom right, rgb(10, 10, 10), rgba(255, 255, 255, 0)),
        radial-gradient(circle at bottom left, rgb(14, 14, 14), rgba(255, 255, 255, 0)),
        url("../../imgs/texture.png")
    ;
    

    color: $primary-color;

    h1, h2, h3 {
        display: flex;
        font-weight: normal;
        text-align: center;
    }
    h1 {
        font-weight: 600;
        font-size: 3rem;
        margin: 0;
    }
    h2 {
        font-weight: 400;
        font-size: 1.2rem;
        margin: 0;
    }

    .city {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            margin-right: 5px;
        }
    }

    .textContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10%;
    }

    .socials {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 24px;
            height: 24px;
            margin: 16px;
            color: $primary-color;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 32px 0;
    }

}