#projects .content {
    display: flex;
    flex-direction: row;
    @media (max-width: 800px) {
        flex-direction: column;
    }
    .projectCard {
        width: 300px;
        background-color: rgb(238, 232, 232);
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        p {
            text-wrap-mode: wrap;
        }
        a {
            img {
                width: 300px;
                height: 300px;
                border-radius: 5px;
            }
        }
    }
}