#projects .content {
    display: flex;
    flex-direction: row;
    @media (max-width: 800px) {
        flex-direction: column;
    }
    .projectCard {
        width: 350px;
        background-color: rgba(93, 18, 131, 0.12);
        margin: 20px;
        padding: 20px;
        border-radius: 15px;
        p {
            text-wrap-mode: wrap;
        }
        a {
            img {
                width: 350px;
                height: 350px;
                border-radius: 15px;
            }
        }
    }
}